{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="container">
		{{ form_start(registrationForm) }}


		<div class="row">
			<div class="text-center my-3">
				<h1>Register</h1>


				<div class="my-3">
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.lastname) }}
					{{ form_row(registrationForm.firstname) }}
				</div>

				<div class="my-3">
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

				</div>

				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-danger">Register</button>

				<button class"btn btn-secondary">

					<a href="{{ path('app_login') }}">Login</a>

				</button>
			</div>
		</div>
		{{ form_end(registrationForm) }}


	</div>


{% endblock %}
